{% extends 'partials/layout.njk' %}
{% block content %}
    <form action="/greeting" method="GET">
       <input type="text" name="name" placeholder="What's Your name?">
       <input type="number" name="age" placeholder="How old are You?" max="150">
       <input type="submit"> 
    </form>
{% endblock %}