{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Values</h1>
    <ol>
        <li>Work</li>
        <li>ethics</li>
        <li>bullshit</li>
        <li>text</li>
        <li>overhere</li>
    </ol>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Male_and_female_chicken_sitting_together.jpg/800px-Male_and_female_chicken_sitting_together.jpg">
{% endblock %}